* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #36799f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #36799f;
}

body {
    background-color: #181419;
    color: white;
}

/* ESTILOS HEADER PARA ESCRITORIO */
.header {
    background: linear-gradient(to right top, #2c6180, #36799f, #6ea3c2);
    color: #ffffff;
    height: 11vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.2rem 1.2rem;
    padding: 0.5rem 0 1.5rem;
}

.header .navegacion .logo img{
    text-decoration: none;
    width: 70px;
}

.header .navegacion .listaNav {
    list-style: none;
    display: flex;
    align-items: center;
}

.header .navegacion .listaNav .listaItem {
    margin-right: 20px;
}

.header .navegacion .listaNav .listaItem .linkNav {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header .navegacion .listaNav .listaItem .linkNav:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.header .navegacion .listaNav .listaItem .linkNav.iniciarSesion {
    background-color: #103f5b;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header .navegacion .listaNav .listaItem .linkNav.iniciarSesion:hover {
    background-color: #36799f;
}


/* ESTILOS PARA MAIN ESCRITORIO */
.main .sectionPrincipal {
    color: white;
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(../assets/img/img-movies.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main hr{
    border-color: #36799f;
    margin: 0.5rem 6rem 2rem;
}

.main .sectionPrincipal .tituloPrincipal {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main .sectionPrincipal .subtituloPrincipal {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.main .sectionPrincipal .cancela {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.7rem;
}

.main .sectionPrincipal .botonRegistrarse {
    background-color: #36799f;
    color: #ffffff;
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.main .sectionPrincipal .botonRegistrarse:hover {
    background-color: #1e445a;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.main .buscadorPrincipal {
    background-color: #181419;
    color: rgb(255, 255, 255);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .buscadorPrincipal .container-tituloSection{
    display: flex;
    justify-content: center;
}

.main .buscadorPrincipal .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main .buscadorPrincipal .buscadorPeliculas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.main .buscadorPrincipal .buscadorPeliculas .inputBuscador {
    border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;
}

.main .buscadorPrincipal .buscadorPeliculas .botonBuscador {
    background-color: #36799f;
    display: inline-block;
    color: #ffffff;
    height: 50px;
    margin: 20px 10px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.main .buscadorPrincipal .buscadorPeliculas .botonBuscador:hover {
    background-color: #1e445a;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.main .tendencias {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.main .tendencias .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.main .tendencias .peliculas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.main .tendencias .peliculas a {
    text-decoration: none;
    color: #ffffff;
}

.main .tendencias .peliculas a .pelicula {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.main .tendencias .peliculas a .pelicula .imgTendencia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.main .tendencias .peliculas a .pelicula .tituloPelicula {
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
}

.main .tendencias .peliculas a .pelicula .tituloPelicula h4 {
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    transition: opacity 0.5s ease-in-out;
}

.main .tendencias .peliculas a .pelicula:hover {
    box-shadow: 0 0 30px #36799f;
    transform: scale(0.9);
}

.main .tendencias .peliculas a .pelicula:hover .tituloPelicula {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .tendencias .peliculas a .pelicula:hover h4 {
    width: 100%;
    padding: 0.5rem;
    opacity: 1;
}

.main .tendencias .boton {
    border: 1px solid white;
    box-sizing: content-box;
    margin-top: 50px;
    margin-left: 20px;
    background-color: #36799f;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 60px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.main .tendencias .boton:hover {
    background-color: #1e445a;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.main .peliculasAclamadas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.main .peliculasAclamadas .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.main .peliculasAclamadas .aclamadas {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}

.main .peliculasAclamadas .aclamadas .peliculaItem {
    border-radius: 25px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .peliculasAclamadas .aclamadas .peliculaItem .imgAclamada {
    border-radius: 5%;
    width: 95%;
    height: 95%;
    object-fit: cover;
}

/* ESTILOS ESCRITORIO FOOTER */
.footer {
    padding: 20px;
    background: linear-gradient(to right top, #2c6180, #36799f, #6ea3c2);
    color: #ffffff;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer .navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .navegacion .listaNav {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer .navegacion .listaNav .listaItem {
    margin-left: 20px;
}

.footer .navegacion .listaNav .listaItem .linkNav {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.footer .navegacion .listaNav .listaItem .administradorPeliculas {
    background-color: #181419;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.footer .flechaArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}

.footer  {
    font-size: 14px;
}

.footer .redes {
    font-size: 1.3rem;
}

.footer .redes i{
    margin: 0 0.5rem;
    cursor: pointer;
}


@media (max-width: 768px) {
    .header {
        height: initial;
    }

    .header .navegacion {
        
        margin-right: 10px;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }

    .header .navegacion .anclaLogo img{
        margin-right: 1rem;
}

    .header .navegacion ul{
        flex-direction: column;
        row-gap: 20px;
    }

    .header .navegacion .logo {
        margin-right: 1.2rem;
    }

    .header .navegacion .listaNav {
        padding: initial;
    }

    .header .navegacion .listaNav .listaItem .linkNav {
        font-weight: 400;
        margin-right: initial;
        font-size: 1rem;
        padding: 0.2rem;
    }

    .header .navegacion .listaNav .listaItem .linkNav.iniciarSesion {
    background-color: #181419;
    color: white;
    padding: 0 1rem 0 1rem;
    }
    
    .main .sectionPrincipal {
        height: 60vh;
    }

    .main .sectionPrincipal .tituloPrincipal {
        font-size: 2.5rem;
    }

    .main .sectionPrincipal .subtituloPrincipal {
        font-size: 1.5rem;
    }

    .main .sectionPrincipal .botonRegistrarse {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }

    .main .buscadorPrincipal {
        height: 30vh;
    }

    .main .buscadorPrincipal .tituloSection {
        font-size: 1.6rem;
    }

    .main .buscadorPrincipal .buscadorPeliculas {
    flex-direction: column;
    }

    .main .buscadorPrincipal .buscadorPeliculas .inputBuscador {
        font-size: 1rem;
        height: 40px;
        width: 300px;
    }

    .main .buscadorPrincipal .buscadorPeliculas .botonBuscador {
        height: 40px;
        padding: 0 15px;
        font-size: 1rem;
    }

    .main .tendencias {
        width: 80%;
        padding: 1rem;
    }

    .main .tendencias .tituloSection {
        font-size: 2rem;
    }

    .main .tendencias .peliculas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .tendencias .peliculas a {
        width: 100%;
    }

    .main .tendencias .peliculas a .pelicula {
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .main .tendencias .peliculas a .pelicula .tituloPelicula h4 {
        font-size: 1rem;
    }

    .main .tendencias .boton {
        padding: 0.8rem 0.8rem;
        font-size: 0.8rem;
    }

    .main .peliculasAclamadas .tituloSection {
        font-size: 2rem;
    }

    .main .peliculasAclamadas .aclamadas .peliculaItem {
        width: 150px;
        min-width: 150px;
        font-size: 15px;
        margin-left: 20px;
    }

    .main .peliculasAclamadas .aclamadas .peliculaItem .imgAclamada {
        width: 90%;
        height: 90%;
    }

    .footer {
        height: initial;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .footer .listaNav {
        flex-direction: column;
        row-gap: 15px;
    }

    .footer .listaNav .listaItem .linkNav {
        font-size: 1rem;
    }

    .footer .listaNav .listaItem .administradorPeliculas {
        padding: 0.5rem 0.8rem;
    }
}



